<%= form_for(main_ingredient) do |f| %>
  <% if main_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_ingredient.errors.count, "error") %> prohibited this main_ingredient from being saved:</h2>

      <ul>
      <% main_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
