<div class="dish-header pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-3">Dishes</h1>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-6 col-md-4 mb-3">
                    <div class="card dish bg-dark text-white">
                        <img class="card-img" src="https://dl.dropboxusercontent.com/s/kgyxoh44f3g4b3r/bannerbg.jpg?dl=0" alt="Dish Image">
                        <div class="card-img-overlay">
                            <h4 class="card-title">Card Title</h4>
                            <p class="card-text">Lorem ipsum dolor.</p>
                            <p class="card-text">Lorem ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="card dish bg-dark text-white">
                        <img class="card-img" src="https://dl.dropboxusercontent.com/s/kgyxoh44f3g4b3r/bannerbg.jpg?dl=0" alt="Dish Image">
                        <div class="card-img-overlay">
                            <h4 class="card-title">Card Title</h4>
                            <p class="card-text">Lorem ipsum dolor.</p>
                            <p class="card-text">Lorem ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="card dish bg-dark text-white">
                        <img class="card-img" src="https://dl.dropboxusercontent.com/s/kgyxoh44f3g4b3r/bannerbg.jpg?dl=0" alt="Dish Image">
                        <div class="card-img-overlay">
                            <h4 class="card-title">Card Title</h4>
                            <p class="card-text">Lorem ipsum dolor.</p>
                            <p class="card-text">Lorem ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="card dish bg-dark text-white">
                        <img class="card-img" src="https://dl.dropboxusercontent.com/s/kgyxoh44f3g4b3r/bannerbg.jpg?dl=0" alt="Dish Image">
                        <div class="card-img-overlay">
                            <h4 class="card-title">Card Title</h4>
                            <p class="card-text">Lorem ipsum dolor.</p>
                            <p class="card-text">Lorem ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="card dish bg-dark text-white">
                        <img class="card-img" src="https://dl.dropboxusercontent.com/s/kgyxoh44f3g4b3r/bannerbg.jpg?dl=0" alt="Dish Image">
                        <div class="card-img-overlay">
                            <h4 class="card-title">Card Title</h4>
                            <p class="card-text">Lorem ipsum dolor.</p>
                            <p class="card-text">Lorem ipsum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 mb-3">
                    <div class="card dish bg-dark text-white">
                        <img class="card-img" src="https://dl.dropboxusercontent.com/s/kgyxoh44f3g4b3r/bannerbg.jpg?dl=0" alt="Dish Image">
                        <div class="card-img-overlay">
                            <h4 class="card-title">Card Title</h4>
                            <p class="card-text">Lorem ipsum dolor.</p>
                            <p class="card-text">Lorem ipsum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-12">
                    <div class="card" style="width: 20rem;">
                        <div class="card-header">
                            Categories
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card" style="width: 20rem;">
                        <div class="card-header">
                            Categories
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card" style="width: 20rem;">
                        <div class="card-header">
                            Categories
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cras justo odio</li>
                            <li class="list-group-item">Dapibus ac facilisis in</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

