<div class="dish-header pt-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-3">Categories</h1>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="row">
              <% @categories.each_slice(1) do |c| %>
                  <% c.each do |c| %>
                      <div class="col-12 col-md-4 mb-3">
                          <div class="card dish bg-dark text-white">
                              <img class="card-img" src="https://dl.dropboxusercontent.com/s/kgyxoh44f3g4b3r/bannerbg.jpg?dl=0" alt="Dish Image">
                              <div class="card-img-overlay">
                                  <h4 class="card-title"><%= c.name %></h4>
                              </div>
                          </div>
                      </div>
                  <% end %>
              <% end %>
            </div>
        </div>
    </div>
</div>

